{{ partial "header.html" . }}

<body>
<div id="layout" class="pure-g">

{{ partial "logo.html" . }}

<article id="content" class="pure-u-1">
{{ partial "brand.html" . }}
{{ range .Pages }}
	{{ partial "content.header.html" . }}

	<section>{{ .Summary }}</section>

	<hr>
{{ end }}

{{ partial "footer.html" . }}
</article>
</div>
</body>
</html>
