{{ partial "header.html" . }}

<body>

{{ partial "logo.html" . }}

<article id="content" class="pure-u-1">
{{ partial "brand.html" . }}
{{ partial "content.header.html" . }}
    {{ $data := .Data }}
    <div class="pure-g">
      <div class="pure-u-1 pure-u-sm-1-2">
        <h2>By Frequency</h2>
        <section>
        <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Count</th>
          </tr>
        </thead>
        </tbody>
        {{ range $key, $value := .Data.Terms.ByCount }}
          <tr>
            <td>
            <a href="{{ $value.Name| urlize }}">
            {{ $value.Name}}
            </a>
            </td>
            <td>{{  $value.Count }}</td>
          </tr>
        {{ end }}
        </tbody>
        </table>
      </section>
      </div>

      <div class="pure-u-1 pure-u-sm-1-2">
        <h2>Alphabetically</h2>
        <section>
        <table class="pure-table pure-table-horizontal pure-table-striped">
        <thead>
          <tr>
            <th>Term</th>
            <th>Count</th>
          </tr>
        </thead>
        </tbody>
        {{ range $key, $value := .Data.Terms.Alphabetical}}
          <tr>
            <td><a href="{{ $value.Name| urlize }}">
              {{ $value.Name}}
            </a></td>
            <td>{{  $value.Count }}</td>
          </tr>
        {{ end }}
        </tbody>
        </table>
        </section>
      </div>
    </div>
{{ partial "footer.html" . }}
</article>
</body>
</html>
