<header class="brand">
	<div class="flex">
		<div class="brand-title">
			<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title}}</a></h1>
  		<h2>{{ .Site.Params.subtitle }}</h2>
		</div>
  	{{ partial "nav.html" . }}
	</div>
</header>
