<section>
<h1 class="content-title">
  {{ if .IsNode }}
  <a href="{{ .Permalink }}">{{ .Title}}</a>
  {{ else }}
  <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} :: Draft {{end}}</a>
  {{ end }}
</h1>


{{ if .IsPage }}
{{ if .Params.subtitle }}<p class=subtitle>{{ .Params.subtitle }}</p>{{ end }}
{{ if or (eq .Type "post") (.Params.meta)  }}
  <span class="content-meta">
    {{ if .Params.author }}
       <i class="fa fa-user">&nbsp;</i><span class="author">
         &nbsp;{{ .Params.author }}</span> <br>
    {{ end }}


    {{ if not .Params.hidedate }}
      <i class="fa fa-calendar"></i>
      &nbsp;{{ .Date.Format "Jan 2, 2006" }}
    {{end }}

    {{ if not .Params.hidereadtime }}
      &nbsp;<i class="fa fa-clock-o"></i>
      &nbsp;{{ .ReadingTime }} min read
    {{ end }}

    {{ if .Params.categories }}
      <br>
      <i class="fa fa-tags"> </i>
      {{ range .Params.categories }}
        <a  href="{{ "/categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
      {{ end }}
    {{ end }}
  </span>

{{ end }}
{{ end }}
</section>


