<footer class="page-footer">
		<hr>
		<ul class="page-footer-menu">
		{{ range .Site.Menus.footer }}
      <li><a href="{{.URL}}">{{.Pre }}{{ .Name }}</a></li>
		{{ end }}
		</ul>

  {{ if .Site.Params.showPoweredBy}}
    <p>
      Powered by <a href="https://gohugo.io">Hugo</a> and the
			<a href="https://github.com/shawnohare/hugo-tufte">Tufte theme</a>,<br /> Modifié avec les &#9829; pieds &#9829; par <a href="https://framagit.org/kaouenn-noz/hugo-tufte-hugo">Kaouenn Noz</a>, Licence MIT
    </p>
    <p>
       <b>Logo par Colpizen − Licence CC BY SA 4.0</b>
    </p>
    <p>
       Sauf mention contraire : <b>contenu</b> du blog sous <b>licence CC BY SA 4.0</b> <br />& <b>Illustration sous Free Art License 1.3</b>
    </p>
  {{ end }}

	<div class="copyright">
	<p>
    {{ with .Site.Params.copyright }}
      {{ . | safeHTML }}
    {{ else }}
    {{ with .Site.Params.copyrightHolder }}{{ . }}{{end}}.
    {{end}}
  </p>
</div>
</footer>
{{ partial "body.includes.html" . }}