<!-- Load MathJax, if necessary. -->
{{ if or .Params.math .IsHome }}
  {{ partial "math.html" . }}
{{ end }}

<!-- Syntax highlighting -->
<!-- {{ partial "highlight.html" . }} -->

<!-- Pure css -->
<link rel="stylesheet" href="{{ "/css/pure-min.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/grids-responsive-min.css" | absURL }}">

<!-- Fonts -->

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Main CSS file based on Pure blog layout -->
<link rel="stylesheet" href="{{ "/css/tufte.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/hugo-tufte.css" | absURL }}">
<link rel="stylesheet" href="{{ "/css/hugo-tufte-override.css" | absURL }}">
